.body {
  margin: 0%;
  overflow: hidden;
}
.item {
  list-style: none;
  font-size: 3vh;
  margin: 0px;
  margin-left: 8%;
  margin-bottom: 2.5vh;
  margin-right: 5vh;
  border-bottom: solid;
  border-color: gray;
  overflow: hidden;
}
.question {
  height: auto;
  width: auto;
  background-color: rgb(71, 196, 242);
  overflow: hidden;
}
.question p,
h2 {
  margin-left: 20px;
  margin-top: 5px;
  overflow: hidden;
}
